<html>

<head>
    <title>Blog</title>
</head>

<body>
    <div>
        <div>
            SignUp
        </div>
        <div>
            <form method="POSt" action="login">

                <div>
                    <label name="name">*Email</label>
                    <input type="text" name="email">
                </div>
                <div>
                    <label name="name">*Password</label>
                    <input type="password" name="password">
                </div>

                <input type="submit" name="submit" value="Signin">
            </form>
        </div>
    </div>
</body>

</html>