<html>

<head>
    <title>Blog</title>
</head>

<body>
    <div>
        <div>
            SignUp
        </div>
        <div>
            <form method="POSt" action="save-user">
                <div>
                    <label name="name">*Name</label>
                    <input type="text" name="name">
                </div>
                <div>
                    <label name="name">*Email</label>
                    <input type="text" name="email">
                </div>
                <div>
                    <label name="name">*Password</label>
                    <input type="password" name="password">
                </div>
                <div>
                    <label name="name">*Confirm Password</label>
                    <input type="password" name="confirm">
                </div>
                <input type="submit" name="submit" value="Signup">
            </form>
        </div>
    </div>
</body>

</html>